body {
  margin: 0;
  background-color: #edeaea;
}

a {
    text-decoration: none;
    color: #594343;
}

.video-player {
  margin-top: 30px;
}

.content-image-container {
  text-align: center;
  width: 100%;
}

.content-item {
  width: 50%;
}

.content-pad {
  padding: 0 20px;
}

.about-item {
  margin-top: 40px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .content-item {
    width: 100%;
  }
  .content-pad {
    padding: 0 12px;
  }

  .video-player {
    margin-top: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .content-item {
    width: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .content-item {
    width: 90%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .content-item {
    width: 70%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .content-item {
    width: 55%;
  }
}
